*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;
    max-width: 100%;
    padding-left: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
    background: #888888;
}

header nav a{
    color: #2f708b;
    
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
}

a:hover{
    background: #0000008a;
    border-radius: 50px;
}

.carousel{
    width: 100vh;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 180px;
    height: 250px;
    top: 80%;
    transform: translateY(-70);
    left: 70%;
    background-position: 50% 50%;
    background-size: cover;
}

body {
    background: linear-gradient(to top, #000000, #FFFFFF);
    height: 100vh;
    margin: 0;
    background-size: 100% 200%;
    animation: gradientAnimation 5s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

